<li>
	{{burger_name}}

	<button class="devoured" data-id="{{id}}" data-devoured="{{canEat}}">
		{{#if canEat}}Eat Me!{{else}}OUT OF FOOD{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
